.custom-input {
  text-align: end;
  position: absolute;
  top: 230px;
  padding: 5px 12px;
  width: 80%;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  vertical-align: middle;
  background-color: black;
  border: none;
  outline: none;
  /* background-repeat: no-repeat; */
  /* background-position: right 8px center; */
  /* border-radius: 6px; */
  /* box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset; */
}

.custom-input:focus {
  caret-color: transparent;
}

.custom-input[type="number"]::-webkit-inner-spin-button,
.custom-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
